.main{
    width: 700px;
    padding-left: 400px;
    display: flex;
}
.main_text{
    padding-top: 10px;
    font-size: 50px;
    line-height: 1.2;
}
.main_png{
    padding: 10px 20px 20px 40px;
} 

.main_png{
    border-radius: 20%;
}
.but1{
    padding-bottom: 10px;
}

nav.info{
background-color: #ffa500;
border-top-left-radius: 50% -50px;
  border-top-right-radius: 50% -50px;
  border-bottom-left-radius: 50% 50px;
  border-bottom-right-radius: 50% 50px;
  padding: 10px; /* Задайте необходимый отступ */
}
.info>p{
    text-align: center;
    font-size: 50px;
}
.info>div>p{
    text-align: center;
    font-size: 30px;
}
.city_but{
    display: flex;
    justify-content: center;
}
.city_but>div{
    padding-left: 50px;
    padding-bottom: 15px;
}
.city_but>div>button{
    font-size: 20px;
}

.nav_gallery>p{
    text-align: center;
    font-size: 40px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery img {
    width: 500px; /* Измененная ширина */
    height: 300px; /* Измененная высота */
    margin: 10px;
    opacity: 1;
    transition: opacity 0.5s ease; /* Плавный переход для непрозрачности */
  }

  .additional {
    opacity: 0; /* Изначальная непрозрачность для дополнительных изображений */
  }

  #moreBtn {
    margin: 10px auto; /* Устанавливаем отступы по верхнему и нижнему краям и автоматическое выравнивание по горизонтали */
    display: block; /* Делаем кнопку блочным элементом, чтобы отступы применялись корректно */
    text-align: center; /* Выравниваем текст по центру */
  }

  #hideBtn {
    margin: 10px auto; /* Устанавливаем отступы по верхнему и нижнему краям и автоматическое выравнивание по горизонтали */
    display: none; /* Скрыть кнопку "Скрыть" по умолчанию */
    text-align: center; /* Выравниваем текст по центру */
  }
button {
    background: linear-gradient(to right, #ff8c00, #ffa500); /* Оранжевый градиент */
    color: #000; /* Черный цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer; /* Изменяем курсор при наведении */
    transition: all 0.3s ease; /* Плавный переход */
  }
  
  /* Hover эффект */
  button:hover {
    transform: scale(1.05); /* Увеличение кнопки при наведении */
  }
      /* Стили для модального окна */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5); /* Затемненный фон */
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
      text-align: center;
      position: relative;
    }

    /* Стили для кнопки закрытия */
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }

    /* Стили для карты */
    #map {
      height: 300px;
      width: 100%;
      margin-top: 20px;
    }